/* html 요소에 부드러운 스크롤 효과를 전역적으로 적용합니다. */
html {
    --scroll-behavior: smooth!important;
    scroll-behavior: smooth!important;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------- */
*{
    margin: 0 auto;
    padding: 0 auto;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------- */
body {
    color: #ffffff;
    background-color: #212A37 /*Oxford Blue*/;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------- */
#caution{
    /* position: fixed; 로 화면 전체를 덮고 스크롤을 해도 움직이지 않게 함 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: #101720;

    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center;     /* 세로 중앙 정렬 */
    text-align: center;

    z-index: 9999;

    opacity: 1;
    transition: opacity 1s ease-out;

    #monitor{
        width: 500px;
        height: 300px;
        border: 20px solid #fff;
        border-radius: 50px;

        display: flex;
        justify-content: center; /* 가로 중앙 정렬 */
        align-items: center;     /* 세로 중앙 정렬 */
        text-align: center;

        font-size: 2.5rem;
        font-weight:800;
    }
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------- */
#caution.hidden {
    opacity: 0;
    pointer-events: none; /* 투명해진 후에는 마우스 클릭 등의 이벤트를 무시하고 통과시킴 */
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------- */
a {
    color: #ffffff;
    text-decoration: none;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------- */
h1 {
    font-size: 10rem; /* h1 태그의 폰트 크기 설정 */
}

h2 {
    font-size: 2rem; /* h2 태그의 폰트 크기 설정 */
}

h4 {
    font-size: 1.2rem; /* h4 태그의 폰트 크기 설정 */
    font-weight: normal; /* h4 태그의 폰트 굵기를 보통으로 설정 */
    margin: 30px;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------- */
header {
    width: 100%;
    height: 200px;
    background-color: #101720 /*Smoky Black*/ ;

    display: flex;
    justify-content: space-between; /* 내부 요소들 좌우 정렬 */
    align-items: center;     /* 세로 중앙 정렬 */
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------- */
#nav > a {
    display: inline-block;
    width: 300px;
    margin: 0 auto;
    padding: 30px;
    border-right: 3px solid #FFF;

    font-size: 3rem;
    text-align: center;
}

#nav > a:last-child {
    border: none;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------- */
footer {
    width: 100%;
    height: 200px;
    background-color: #11181C /*Arsenic*/ ;

    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center;     /* 세로 중앙 정렬 */
    
    div{
        color: gray;
        a{
            color: gray;
        }
    }
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------- */
.info {
    width: 100%;
    height: 1500px;

    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center;     /* 세로 중앙 정렬 */

    div{
        width: 80%;
        text-align: center;
    }
}

.info > div > h1{
    transition: 0.3s ease-in-out;
}

.info > div > h1:hover{
    transform: scale(1.2)
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* 목차 바로가기 스타일 */
#shortcut {
    position: fixed; /* position: fixed; 를 사용해 화면 스크롤과 상관없이 위치를 고정 */
    top: 35%;
    left: 150px;
    padding: 15px;

    z-index: 10; /* 다른 요소들 위에 표시되도록 z-index 값을 높게 설정 */
    
    opacity: 0; /* 기본 상태를 투명하게 설정 */
    visibility: hidden; /* 화면에서 보이지 않도록 처리 */
    transition: opacity 0.3s ease, visibility 0.3s ease; /* opacity와 visibility 속성이 변할 때 0.3초 동안 부드러운 전환 효과를 적용 */
}

/* JavaScript가 이 클래스를 추가하면 메뉴가 보이게 됨 */
#shortcut.show {
    /* .show 클래스가 추가되면 투명도를 1로 만들어 완전히 보이게 함 */
    opacity: 1;
    /* 화면에 보이도록 visibility 속성을 변경 */
    visibility: visible;
}

#shortcut ul {
    list-style: none; /* li 태그의 기본 점 스타일 제거 */
    padding: 5px;
    margin: 0;

    border-left: 2px solid #fff;    
}

#shortcut li {
    margin-bottom: 50px; /* 각 메뉴 항목 사이의 간격 */
    border-bottom: 2px solid #fff;
    transition: 0.3s ease;    
}

#shortcut li:last-child {
    margin-bottom: 0; /* 마지막 메뉴 항목의 아래쪽 간격은 제거 */
}

#shortcut li:hover {
    transform: scale(1.1);
}

#shortcut li a {
    display: block;
    padding: 5px;
    font-size: 1.5rem;
    font-weight: 300;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------- */
#main {
    background-color: #100d08 /*Black Chocolate*/;
    position: relative; /* ::after 가상 요소의 위치 기준점이 됩니다. */
    z-index: 1; /* 다른 요소들보다 위에 있도록 z-index 설정 */
}

#main div h1::first-letter { /* 첫 글자 변경 */
    color: #00ff00;
}

#main::after {
    content: ''; /* 가상 요소는 content 속성이 반드시 필요합니다. */
    position: absolute; /* 부모(#main)를 기준으로 위치를 잡습니다. */
    left: 0;
    bottom: 0; /* #main의 맨 아래에 붙입니다. */
    width: 100%;
    height: 150px; /* 겹치는 영역의 높이와 동일하게 설정합니다. */

    /* #main의 배경색(orange)에서 #portfolio의 배경색(red)으로 변하는 세로 그라데이션을 적용합니다. */
    background: linear-gradient(to bottom, #100d08, #212A37);
    
    /* 이 가상 요소는 클릭 등의 이벤트를 방해하지 않도록 설정합니다. */
    pointer-events: none;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------- */
#portfolio {
    background-color: #212A37;
    position: relative; /* ::after 가상 요소의 위치 기준점이 됩니다. */
    z-index: 1; /* 다른 요소들보다 위에 있도록 z-index 설정 */    
}

#portfolio div h1::first-letter {
    color: #ff3030;
}

#portfolio::after {
    content: ''; /* 가상 요소는 content 속성이 반드시 필요합니다. */
    position: absolute; /* 부모(#main)를 기준으로 위치를 잡습니다. */
    left: 0;
    bottom: 0; /* #main의 맨 아래에 붙입니다. */
    width: 100%;
    height: 150px; /* 겹치는 영역의 높이와 동일하게 설정합니다. */

    /* #main의 배경색(orange)에서 #portfolio의 배경색(red)으로 변하는 세로 그라데이션을 적용합니다. */
    background: linear-gradient(to bottom, #212A37, #0B1215);
    
    /* 이 가상 요소는 클릭 등의 이벤트를 방해하지 않도록 설정합니다. */
    pointer-events: none;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------- */
#about {
    background-color: #0B1215;
    position: relative; /* ::after 가상 요소의 위치 기준점이 됩니다. */
    z-index: 1; /* 다른 요소들보다 위에 있도록 z-index 설정 */
}

#about div h1::first-letter {
    color: #4169e1;
}

#about::after {
    content: ''; /* 가상 요소는 content 속성이 반드시 필요합니다. */
    position: absolute; /* 부모(#main)를 기준으로 위치를 잡습니다. */
    left: 0;
    bottom: 0; /* #main의 맨 아래에 붙입니다. */
    width: 100%;
    height: 150px; /* 겹치는 영역의 높이와 동일하게 설정합니다. */

    /* #main의 배경색(orange)에서 #portfolio의 배경색(red)으로 변하는 세로 그라데이션을 적용합니다. */
    background: linear-gradient(to bottom, #0B1215, #161618);
    
    /* 이 가상 요소는 클릭 등의 이벤트를 방해하지 않도록 설정합니다. */
    pointer-events: none;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------- */
#useful {
    background-color: #161618;
}

#useful div h1::first-letter {
    color: #9340ff;
}